.navbar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

.marquee {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #eb4c6b;
  font-size: smaller;
  padding: 0.25rem 0 0.25rem 0;
}

.marqueeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem 1.5rem 6rem;
  font-family: "Inter", sans-serif;
}
.heading {
  padding-left: 10rem;
}

.icons {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.language {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.downArrow {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.menu {
  padding: 0 6rem 1rem 6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.logos {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logos svg:first-child {
  display: none;
}
@media (max-width: 768px) {
  .marqueeWrapper,
  .icons svg:nth-child(4),
  .language,
  .menu {
    display: none;
  }

  .marqueeWrapper:first-child,
  .logos svg:first-child {
    display: flex;
  }

  .heading {
    padding-left: 0;
  }
}
