.footer {
  font-family: "Simplon Norm", sans-serif;
  background-color: black;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
}

.heading {
  font-weight: 700;
  font-size: smaller;
  color: white;
}

.text {
  font-weight: 400;
  font-size: small;
}

.subscribe {
  display: flex;
  flex-direction: column;
  flex: 60%;
}

.emailContainer {
  display: flex;
  gap: 1rem;
}

.input {
  width: 55%;
  padding: 1rem;
  font-size: medium;
  outline: none;
}

.input::placeholder {
  color: #bfc8cd;
}

.button {
  width: 25%;
  border-radius: 5px;
  opacity: 30%;
  border: 1.14px solid #ffffff;
  color: white;
  background-color: black;
  font-size: medium;
  outline: none;
  cursor: pointer;
}

.container {
  border-bottom: 1px solid white;
  display: flex;
  padding-bottom: 1.5rem;
  align-items: flex-start;
}

.contactWrapper,
.payWrapper {
  display: flex;
  flex-direction: column;
  flex: 40%;
  gap: 0.5rem;
}
.payWrapper {
  gap: 3rem;
}

.contact,
.currency {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.currencyText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: flex-start;
}

.menu1 {
  display: flex;
  flex: 60%;
  justify-content: space-between;
}

.submenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu2 {
  padding: 0 2rem 0 2rem;
  flex: 40%;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  padding-bottom: 1rem;
}

.copyright {
  font-family: "Simplon Norm", sans-serif;
  font-weight: 400;
  font-size: smaller;
  text-align: center;
}
